body{
   background-color:green;
}

.message{
   position: sticky;
   top:0; left:0; right:0;
   padding:15px 10px;
   background-color: white;
   text-align: center;
   z-index: 1000;
   box-shadow: 2px;
   color:black;
   font-size: 20px;
   text-transform: capitalize;
   cursor: pointer;
}

.btn,
.delete-btn,
.option-btn{
   display: inline-block;
   padding:10px 30px;
   cursor: pointer;
   font-size: 18px;
   color:white;
   border-radius: 5px;
   text-transform: capitalize;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color:black;
}

.btn{
   background-color:blue;
   margin-top: 10px;
}

.delete-btn{
   background-color:red;
}

.option-btn{
   background-color:orange;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 70px;
}

.form-container form{
   width: 500px;
   border-radius: 5px;
   border:20px;
   padding:20px;
   text-align: center;
   background-color:orange;
}

.form-container form h3{
   font-size: 30px;
   margin-bottom: 10px;
   text-transform: uppercase;
   color:black;
}

.form-container form .box{
   width: 80%;
   border-radius: 5px;
   border:5px;
   padding:12px 14px;
   font-size: 18px;
   margin:10px 0;
}

.form-container form p{
   margin-top: 20px;
   font-size: 20px;
   color:black;
}

.form-container form p a{
   color:red;
}

.form-container form p a:hover{
   text-decoration: underline;
}

.container{
   padding:0 20px;
   margin:0 auto;
   max-width: 1200px;
   padding-bottom: 70px;
}

.container .heading{
   text-align: center;
   margin-bottom: 20px;
   font-size: 40px;
   text-transform: uppercase;
   color:black;
}

.container .user-profile{
   padding:20px;
   text-align: center;
   border:5px;
   background-color: white;
   box-shadow: 5px;
   border-radius: 5px;
   margin:20px auto;
   max-width: 500px;
}

.container .user-profile p{
   margin-bottom: 10px;
   font-size: 25px;
   color:black;
}

.container .user-profile p span{
   color:red;
}

.container .user-profile .flex{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap:10px;
   align-items: flex-end;
}

.container .products .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:15px;
   justify-content: center;
}

.container .products .box-container .box{
   text-align: center;
   border-radius: 5px;
   box-shadow:2px;
   border:5px;
   position: relative;
   padding:20px;
   background-color: whitesmoke;
   width: 350px;
}

.container .products .box-container .box img{
   height: 250px;
}

.container .products .box-container .box .name{
   font-size: 20px;
   color:black;
   padding:5px 0;
}

.container .products .box-container .box .price{
   position: absolute;
   top:10px; left:10px;
   padding:5px 10px;
   border-radius: 5px;
   background-color: orange;
   color:white;
   font-size: 25px;
}

.container .products .box-container .box input[type="number"]{
   margin:10px 0;
   width: 80%;
   border:5px;
   border-radius: 5px;
   font-size: 20px;
   color:black;;
   padding:12px 14px
}

.container .shopping-cart{
   padding:20px 0;
}

.container .shopping-cart table{
   width: 100%;
   text-align: center;
   border:5px;
   border-radius: 5px;
   box-shadow:2px;
   background-color:white;
}

.container .shopping-cart table thead{
   background-color: black;
}

.container .shopping-cart table thead th{
   padding:10px;
   color:white;
   text-transform: capitalize;
   font-size: 20px;
}

.container .shopping-cart table .table-bottom{
   background-color:lightblue;
}

.container .shopping-cart table tr td{
   padding:10px;
   font-size: 20px;
   color:black;
}

.container .shopping-cart table tr td:nth-child(1){
   padding:0;
}

.container .shopping-cart table tr td input[type="number"]{
   width: 80px;
   border:5px;
   padding:12px 14px;
   font-size: 20px;
   color:black;
}

.container .shopping-cart .cart-btn{
   margin-top: 10px;
   text-align: center;
}

.container .shopping-cart .disabled{
   pointer-events: none;
   background-color: red;
   opacity: .5;
   user-select: none;
}


@media (max-width:1200px){
   .container .shopping-cart{
      overflow-x: scroll;
   }

   .container .shopping-cart table{
      width: 1200px;
   }
}

@media (max-width:450px){
   .container .heading{
      font-size: 30px;
   }
   .container .products .box-container .box img{
      height: 200px;
   }
} 